<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="index, follow">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

    <meta name="application-name" content="SRS Avimetrics"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=2.0">
    <link rel="icon" type="image/png" href="/favicon-32x32.png?v=2.0" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png?v=2.0" sizes="16x16">
    <link rel="manifest" href="/manifest.json?v=2.0">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=2.0" color="#3d4983">
    <link rel="shortcut icon" href="/favicon.ico?v=2.0">
    <meta name="theme-color" content="#bbda78">

    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>