        <header>
            <div id="logo">
                <a href="/"><span style="font-size: 2em; font-weight: bold; color: white; margin: 15px 0; display: inline-block;">{{site.title}}</span></a>
            </div>
            <div id="header_img">
                <img src="/assets/img/waterfall_header_1440.jpg"  srcset="img/waterfall_header_3840.jpg 3840w, /assets/img/waterfall_header_2048.jpg 2048w, /assets/img/waterfall_header_1920.jpg 1920w, /assets/img/waterfall_header_1440.jpg 1440w, /assets/img/waterfall_header_1280.jpg 1280w, /assets/img/waterfall_header_1024.jpg 1024w, /assets/img/waterfall_header_960.jpg 960w, /assets/img/waterfall_header_640.jpg 640w">
            </div>
            <nav>
                <ul id="nav">
                    <li id="home_nav"><a href="/">Home</a></li>
                    <li id="about_nav"><a href="/about">About</a></li>
                    <li id="contacts_nav"><a href="/contacts">Contacts</a></li>
                    <li id="projects_nav"><a href="/projects">Projects</a></li>
                    <li id="qualcert_nav"><a href="/qualifications_certifications">Qualifications &amp; Certifications</a></li>
                    <li id="equipment_nav"><a href="/equipment">Equipment</a></li>
                </ul>
            </nav>
        </header>