        <header>
            <div id="logo">
                <a href="{{ site.baseurl }}/"><span style="font-size: 2em; font-weight: bold; color: white; margin: 15px 0; display: inline-block;">{{site.title}}</span></a>
            </div>
            <div id="header_img"></div>
            <nav>
                <ul id="nav">
                    <li id="home_nav"><a href="{{ site.baseurl }}/">Home</a></li>
                    <li id="about_nav"><a href="{{ site.baseurl }}/about">About</a></li>
                    <li id="contacts_nav"><a href="{{ site.baseurl }}/contacts">Contacts</a></li>
                    <li id="projects_nav"><a href="{{ site.baseurl }}/projects">Projects</a></li>
                    <li id="qualcert_nav"><a href="{{ site.baseurl }}/qualifications_certifications">Qualifications &amp; Certifications</a></li>
                    <li id="equipment_nav"><a href="{{ site.baseurl }}/equipment">Equipment</a></li>
                </ul>
            </nav>
        </header>