        <header>
            <div id="logo">
                <a href="{{ site.baseurl }}/"><img  id="logo_img" src="{{site.baseurl}}/assets/img/logo.svg" alt="SRS Avimetrics"><!--span style="font-size: 2em; font-weight: bold; color: white; margin: 15px 0; display: inline-block;">{{site.title}}</span--></a>
            </div>
            <div id="header_container">
                <div class="slogan">Developing practical solutions to natural resource management issues.</div>
            </div>
            <nav>
                <ul id="nav">
                    <li id="home_nav"><a href="{{ site.baseurl }}/">Home</a></li>
                    <li id="about_nav"><a href="{{ site.baseurl }}/company_history">Company History</a></li>
                    <li id="projects_nav"><a href="{{ site.baseurl }}/projects">Projects</a></li>
                    <li id="qualcert_nav"><a href="{{ site.baseurl }}/qualifications_certifications">Qualifications &amp; Certifications</a></li>
                    <li id="equipment_nav"><a href="{{ site.baseurl }}/equipment">Equipment</a></li>
                    <li id="uav_nav"><a href="{{ site.baseurl }}/uav_services">UAV Services</a></li>
                    <li id="contacts_nav"><a href="{{ site.baseurl }}/contacts">Contact Us</a></li>
                </ul>
            </nav>
        </header>