body {
    font-family: Helvetica;
}

a {
    word-break: break-word;
}

main {
    h1 {
        color: $paletton-blue;
        font-size: 1.7em;
    }

    h2 {
        color: $paletton-brown-darkest;
        margin-bottom: 5px;
    }

    blockquote {
        padding-left: 1.5em;
        text-indent: -1.5em;
    }

    .accent1 {
        color: $paletton-blue;
    }

    .accent2 {
        color: $paletton-brown;
    }

    .image-caption {
        text-align: center;
        color: #333;
        font-size: 0.8em;
    }

    $bullet-width: 1.2ex;
    ul {
        padding-left: 2em;

        li {
            list-style: none;
            padding-left: $bullet-width;
            text-indent: -$bullet-width;

            &:before {
                display: inline-block;
                width: $bullet-width;
                text-align: left;
                font-size: 1em;
                content: "\25CF";
                color: $paletton-green-dark;
            }

            ul li:before {
                display: inline-block;
                content: "\25A0";
                color: $paletton-green-dark;
                font-size: 0.8em;
                width: 1.5ex;
                vertical-align: top;
            }
        }
    }
}


@media screen and (max-width: $single-column-breakpoint) {
    main {
        ul {
            padding-left: 1em;

            li {
                &:before {
                    display: inline-block;
                    content: "\2022";
                    color: $paletton-green-dark;
                    font-size: 1.5em;
                    width: 0.7ex;
                }

                ul li:before {
                    display: inline-block;
                    content: "\2022";
                    color: $paletton-green-dark;
                    font-size: 1.5em;
                    width: 0.7ex;
                    vertical-align: inherit;
                }
            }
        }
    }
}
