body {
    font-family: Helvetica;
}

a {
    word-break: break-word;
}

main {
    h1 {
        color: $paletton-blue;
        font-size: 1.7em;
    }

    h2 {
        color: $paletton-brown-darkest;
        margin-bottom: 5px;
    }

    blockquote {
        padding-left: 1.5em;
        text-indent: -1.5em;
    }

    .accent1 {
        color: $paletton-blue;
    }

    .accent2 {
        color: $paletton-brown;
    }

    .image-caption {
        text-align: center;
        color: #333;
        font-size: 0.8em;
    }

    ul {
        padding-left: 2em;
        @media screen and (max-width: $single-column-breakpoint) {
            padding-left: 1em;
        }

        li {
            list-style: none;
            padding-left: 1em;
            text-indent: -1em;
            &:before {
                font-size: 1em;
                padding-right: 0.5em;
                content: "\25CF";
                color: $paletton-green-dark;
            }

            ul li:before {
                content: "\25A0";
                color: $paletton-green-dark;
                font-size: 0.8em;
                padding-right: 0.8em;
                vertical-align: top;
            }
        }
    }
}
